/*To do:
- Create animation for bubble pop
- Add responsive styling
- Change vh to vw for reesponsiveness
*/

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
}

/*Stops animations of anything that needs to stop on load*/
.preload{
    animation: none !important;
}

.container{
    width: 100%;
}

/*Styles for mobile phones and tablets*/

@media only screen and (min-width: 75rem) {
    .container {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 1200px;
}
}

/*Colour pallette of website https://colorhunt.co/palette/e60965f94892ffa1c9fbe5e5 */

/* Navigation Bar*/
#site-nav {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: #F94892;
    z-index: 100;
}

#site-nav .mobile-menu{
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}

#site-nav .site-nav-container{
    display: flex;
    flex-direction: row;
}

#site-nav .menu{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

#site-nav img{
    margin: 5px;
    height: 40px;
    padding-left: 20px;
}

#site-nav ul li{
    padding: 1rem;
    padding-left: 0;
}

#site-nav ul :nth-child(1){
    padding: 0;
    padding-left: 5px;
}

#site-nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1rem;
    transition: 0.2s ease-out;
}

#site-nav a:hover{
    opacity: 75%;
    transition: 0.2s ease-in;
}


/*Theme switch*/
.theme-switch {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    width: 60px;
    height: 34px;
}

.theme-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.theme-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F94892;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .theme-slider {
    background-color: #180A0A;
  }

  input:focus + .theme-slider {
    box-shadow: 0 0 1px #ffffff;
  }

  input:checked + .theme-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }



/* Site Headers */

#site-header {
    padding-top: 30vh;
    padding-bottom: 70vh;
}

#site-header .headers {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #F94892;
}

#site-header .header-logo{
    height: auto;
    width: 7vw;
    padding: 2px;
}

#site-header .headers h1{
    animation: name-color-change-back 0.2s;
    font-size: 6.25vw;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 25px;
    z-index: 100;
}

#site-header .headers h1:hover{
    animation: name-color-change 0.2s;
    background-color:#F94892;
    color: #ffffff;
    z-index: 100;
}

/*Social Media Links*/
#site-header .social-media-headers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#site-header .social-media-icon{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F94892;
    height: auto;
    width: 3vw;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
    transition: 0.2s ease-out;
}

#site-header .social-media-icon:hover{
    opacity: 75%;
    transition: 0.2s ease-in-out;
}

/*Background Gradient*/

#site-header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #FBE5E5 35%, rgba(0,212,255,0) 100%);
    z-index: -1;
}

/*Background animation area*/

#animation-area{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#animation-area *{
    z-index: -1;
}

#animation-area .box{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#animation-area .box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: bubbles 20s linear infinite;
    bottom: -150px;
    margin: 0;
}

#animation-area .box li img{
    height: 100%;
    width: 100%;
}

#animation-area .box li:nth-child(1){
    left: 10vw;
    width: 100px;
    height: auto;
    animation-delay: 0s;
    animation-duration: 50s;
}

#animation-area .box li:nth-child(2){
    left: 32vw;
    width: 140px;
    height: auto;
    animation-delay: 2s;
    animation-duration: 30s;
}

#animation-area .box li:nth-child(3){
    left: 56vw;
    width: 80px;
    height: auto;
    animation-delay: 10s;
    animation-duration: 39s;
}

#animation-area .box li:nth-child(4){
    left: 70vw;
    width: 70px;
    height: auto;
    animation-delay: 5s;
    animation-duration: 36s;
}

#animation-area .box li:nth-child(5){
    left: 80vw;
    width: 47px;
    height: auto;
    animation-delay: 10s;
    animation-duration: 20s;
}

#animation-area .box li:nth-child(6){
    left: 90vw;
    width: 126px;
    height: auto;
    animation-delay: 5s;
    animation-duration: 30s;
}

@keyframes bubbles{
    0% {transform: translateY(0);
    opacity: 0;}
    60% {transform: translateY(-60vh);
        opacity: 1;}
    100%{transform: translateY(-100vh);
    opacity: 0;}
}

@keyframes name-color-change {
    0%   {background-color:transparent;}
    25%  {background-color:#ffcbe12f;}
    50%  {background-color:#fa9dc480;}
    75%  {background-color:#f36fa6cb;}
    100% {background-color:#F94892;}
}

@keyframes name-color-change-back {
    0%   {background-color:#F94892;}
    25%  {background-color:#f36fa6cb;}
    50%  {background-color:#fa9dc480;}
    75%  {background-color:#ffcbe12f;}
    100% {background-color:transparent;}
}



/*Main Section*/

#main .section{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

#main .section-headers{
    padding-top: 200px;
    color: #F94892;
}

#main .section-headers h1{
    font-size: 3rem;
    margin-bottom: 0;
}

#main .section-headers h2{
    font-size: 1rem;
}

/*Projects*/

#project-list{
    display: grid;
    justify-content: center;
    list-style: none;
    margin: none;
    margin-bottom: 20px;
    padding: 0;
}

#project-list li{
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: #F94892;
    border-radius: 25px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #F94892;
}

#project-list h1{
    color: #FBE5E5;
}

#project-list .project-preview-container{
    width: fit-content;
}

#project-list .project-preview{
    width: auto;
    height: 30vh;
}

#project-list .project-summary{
    width: 15vw;
    justify-content: center;
    color: #FBE5E5;
    margin: 0 2vw;
}

#project-list .project-link{
    background-color: #F94892;
    height: auto;
    width: 3vw;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
    transition: 0.2s ease-out;
}

#project-list .project-link:hover{
    opacity: 75%;
    transition: 0.2s ease-in-out;
}


/*Sections*/
#resume {
    margin-top: 20px;
}

#resume img {
    padding-top: 20px;
    height: 200px;
    width: auto;
}

#resume h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#resume h2 a{
    width: fit-content;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #F94892;
    border-radius: 25px;
    transition: 0.2s ease-out;
}

#resume h2 a:hover{
    background-color: #ffffff;
    color: #F94892;
    transition: 0.2s ease-in;
}

/* About me */

#about-me article{
    justify-content: center;
    width: auto;
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 25px;
    color: #ffffff;
    background-color: #F94892;
    border-radius: 25px;
}

#about-me article a{
    color: #ffffff;
    transition: 0.2s ease-out;
}

#about-me article a:hover{
    opacity: 75%;
    transition: 0.2s ease-in;
}


/* Footer */
#footer {
    height: 200px;
    width: 100%;
    margin-top: 200px;
    background-color:#F94892;
}

#social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-media-icons ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
}

#social-media-icons li :hover{
    opacity: 75%;
    transition: 0.2s ease-out;
}

#social-media-icons .social-media-icon{
    height: auto;
    width: 3vw;
    padding: 5px;
    transition: 0.2s ease-in;
}


@media screen and (max-width: 1007px){
    /* OVerall Page Container */
    .container{
        margin-bottom: 20px;
        height: fit-content;
    }

    /* Site-Nav */

    #site-nav .site-nav-container{
        display: flex;
        flex-direction: column;
    }    

    #site-nav .mobile-menu{
        visibility: visible;
        height: 10%;
        width: 10%;
        padding: 20px;
        cursor: pointer;
    }

    #site-nav .menu{
        opacity: 0;
        height: 0;
        width: 0;
        flex-direction: column;
    }

    #site-nav .active{
        display: flex;
        height: fit-content;
        width: 100%;
        list-style: none;
        opacity: 1;
        visibility: visible;
    }

    #site-nav ul .nav-logo{
        height: 0;
        width: 0;
        display: none;
    }

    #site-nav ul li{
        padding: 1rem;
        font-size: 5vw;
    }
    
    #site-nav a {
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        margin: 0 1rem;
    }
    
    #site-nav a:hover{
        opacity: 75%;
    }

    .theme-switch{
        position: absolute;
        right: 0;
        margin: 2vh 1vw;
        height: 50px;
        width: 100px;
    }

    .theme-slider:before {
        position: absolute;
        content: "";
        height: 40px;
        width: 40px;
        left: 4px;
        bottom: 4px;
        background-color: #F94892;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }

      input:checked + .theme-slider:before {
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
      }
    

    /*Header*/
    #site-header {
        height: fit-content;
    }
    
    #site-header .header-logo{
        height: auto;
        width: 20vw;
        padding: 2px;
    }

    #site-header .headers h1{
        font-size: 15vw;
    }

    #site-header .social-media-icon{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #F94892;
        height: auto;
        width: 7vw;
    }
    /*Main Sections*/
    #main .container{
        height: fit-content;
    }

    #main .section-headers h1{
        font-size: 10vw;
        margin-bottom: 0;
    }
    
    #main .section-headers h2{
        font-size: 3rem;
    }

    /*Projects*/

    #project-list li{
        flex-direction: column;
        justify-content: center;
        font-size: 4vw;
    }

    #project-list .project-preview{
        width: 50vw;
        height: auto;
    }

    #project-list .project-summary{
        width: 50vw;
        color: #FBE5E5;
    }

    #project-list .project-link{
        height: auto;
        width: 10vw;
    }

    /*Resume*/
    #resume{
        margin-top: 20px;
    }

    #resume h2{
        font-size: 4vw;
    }

    #resume img {
        padding-top: 20px;
        height: auto;
        width: 20vw;
    }

    #about-me {
        height: max-content;
    }

    #about-me article{
        font-size: 4vw;
        text-align: left;
        margin: 2vw 3vw;
    }

    /*Footer*/

    #footer {
        height: 200px;
        width: 100%;
        margin-top: 5vh;
        background-color:#F94892;
    }

    #social-media-icons .social-media-icon{
        height: auto;
        width: 7vw;
        padding: 5px;
    }
}